Body{
  margin: 0em;
}



.cover {
  height: 400px;
  background-image: url(car/car-1.jpg);
  color: white;
  background-size: cover;
  background-position: center;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), o 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.car-title{
  min-height:3rem;
}

.car-text{
  min-height: 10rem;
}

.product-stripe{
  overflow-x:scroll;
  padding-top:1rem;
  padding-bottom:1rem;
}

.stripe-container{
  display: flex;
}

.stripe-container .card{
  width: 300px;
  flex-shrink:0;
  margin-right: 2rem;
}

.responsive-iframe{
  position: relative;
  padding-top: 3%;
}


.image-container{
  width: 100%;
  padding-top:56.25%;
  background-size: cover;
  background-position: center;
  
}
